<p>
  I trained multiple classification algorithms, including Support Vector Machine (SVM), Random Forest, and Logistic Regression, to predict fraudulent credit card transactions of European card holders.
  To enhance predictive performance, I combined these models using ensemble methods.
</p>

<p>
  While all of the models performed well, the ensemble soft voting performed the best achieving a <strong>98% accuracy</strong> in fraud detection.
  The predictions were based on <strong>14 anonymized features</strong>.
</p>

<p>
  It is important to note that the features in the dataset were strong predictors, and such high accuracy may not be achievable when working with the challenges of real-world data.
  However, this assignment provided me with hands-on experience in using ensemble methods, which could be valuable in practical applications.
</p>

<h3 class="h3 mt-3">Dataset</h3>
<p>
  The dataset used for this project was sourced from Kaggle:
  <a href="https://www.kaggle.com/datasets/nelgiriyewithana/credit-card-fraud-detection-dataset-2023?resource=download" target="_blank" rel="noopener">
    Credit Card Fraud Detection Dataset (2023)
  </a>.
</p>
