<p>
  With the massive rise in the popularity of Machine Learning, the need for efficient computation has become paramount.
  In the Engineering Cloud Computing class, we were tasked with leveraging Google's Map-Reduce architecture to distribute workloads across multiple virtual machines.
</p>

<h3 class="h3 mt-3">Project Overview</h3>
<p>
  To explore distributed computing efficiency, I first identified and recreated a research paper that analyzed the performance of different matrix multiplication schemas.
  This involved designing an orchestration system to efficiently partition matrices into smaller chunks.
</p>

<h3 class="h3 mt-3">Implementation on Google Cloud Platform</h3>
<p>
  Each matrix was appropriately split into chunks, ensuring that each pair of submatrices was distributed to
  <strong>Google Cloud Platform's (GCP)</strong> serverless functions for parallel computation.
  After processing, the results were aggregated to reconstruct the final matrix, demonstrating the scalability and efficiency of serverless architectures in large-scale computations.
  This scheme was on average 8x faster than the standard matrix multiplication method using GCP.
</p>
