<p>
  The full-stack website includes an interface for employees and customers of an equipment rental business.
  HTML, CSS, and Bootstrap ensure the site is user-friendly and provides a good user experience (UX).
  Through a Python (Flask) backend, the website allows employees to efficiently manage business operations, such as renting equipment to customers.
  The backend tracks and updates the MySQL database, enabling small businesses to streamline their operations, improve organization, and minimize human error.
</p>
