<p>
  Through the use of Network Science, I modeled the performance of PGA (Professional Golf Association) players when grouped with others.
  The intuition for this project came from the "Tiger Effect," a phenomenon in which the large crowds following Tiger Woods caused his playing partners to struggle as a result.
</p>

<p>
  This project was conducted using a combination of datasets—one provided by
  <a href="https://datagolf.com/" target="_blank" rel="noopener">DataGolf</a>,
  a website that explores data science in professional golf, and another obtained through web scraping.
  I used the Selenium library to simulate human interactions, specifically iterating through a dropdown menu containing different tournament years to gather relevant information.
</p>

<p>
  The collected data was then analyzed using statistical methods to model the relative performance changes when players were paired with different partners.
  The result was a graph modeling the interactions between different player pairings.
</p>
