<p>
  This paper introduces a generalization of the efficient iterative step developed by Mark Newman for the
  <strong>Bradley-Terry (BT) model</strong>, extending its application from two-entity interactions to
  <strong>multi-body interactions (Plackett-Luce)</strong>. The BT probabilistic model, similar to the Elo rating system used in chess,
  is an algorithm for computing <strong>player strength scores</strong>.
</p>

<h3 class="h3 mt-3">Two-Entity vs. Multi-Body Interactions</h3>
<p>
  <strong>Two-entity games</strong> involve head-to-head interactions between two teams, players, or entities, such as
  <em>soccer matches</em> or <em>boxing matches</em>. In contrast, <strong>multi-body interactions</strong> encompass
  scenarios involving more than two entities, such as <em>Formula One racing</em> or <em>tournaments</em>.
</p>

<h3 class="h3 mt-3">Extending the Bradley-Terry Model</h3>
<p>
  To accommodate these higher-order interactions, we employ <strong>hypergraphs</strong>, a generalization of standard graphs,
  as well as an expansion of the likelihood function as the framework of adapting the efficient schema of the BT model for multi-body interactions.
  This extension allows for <strong>quicker estimation of player strength scores</strong> in complex multi-entity competitions.
</p>

<p>
  The experiments were conducted on both real preference data and synthetically generated datasets, enabling a more comprehensive analysis of the capabilities of this model.
</p>
