<p>
  Based on a case study detailing a company's hierarchical structure across various sub-units—such as brands, countries, and product lines—I deconstructed the problem into key business objectives and applied data science to achieve them, ensuring all assumptions were clearly stated.
</p>

<p>
  The primary goal was to optimize the contributions of each sub-unit to maximize overall revenue and profit under various constraints.
  To achieve this, I modeled the company's structure as a tree and leveraged different traversal methods to optimize contributions at each level.
  Using Scipy's Sequential Least Squares Programming (SLSQP), I optimized from the bottom up, ensuring an efficient allocation of resources.
</p>

<p>
  I designed the cost function to allow prioritization of different features, enabling the development of multiple optimization strategies.
  Additionally, I incorporated stochastic processes to forecast future revenues based on historical trends for each sub-unit.
  Specifically, I used a geometric Brownian motion—a model commonly used in stock-option pricing—to account for growth based on the inherent randomness of economic markets.
</p>

<p>
  By simulating different optimization strategies, I evaluated their projected performance over a five-year horizon.
  Leveraging the hierarchical tree structure, I experimented with various macroeconomic trends, propagating their effects across sub-units to develop more comprehensive and adaptive financial strategies.
</p>
